.button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;

  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  
  background: #FF2E63;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: unset;

  &:hover {
    background: #5b1b28;
  }
}

.title {
  font-size: 36px;
  font-weight: 600;
  color: #343434;
}


@media (max-width: 560px) {
  .title {
    font-size: 26px;
  }
}